/*/
/*

!.gitignore
!Makefile
!README.md
!lists/
!meson.build
!p4_speaker.pdf
!scripts/algo.sh
!scripts/alltest.sh
!scripts/bestoption.py
!scripts/plt_results.py
!bin/
!lists/
!plots/
!work/
!results/
!spk_ima/   
